bin/
obj/
.vs/
*.pdn
Resources/tempExpandedIcon.png
SrcDebug/clangen/
Utilities/ImNotify.cs
ClanGenModTool.csproj.user
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
/Resources/DiscordPingList.txt
